{% extends "base.html" %}

{% block content %}

{% load static %}

<script>
    const LIST_DATA_URL = "{% url 'worker_list_data' %}";
    const FILTERS = {'business_id': 0, 'sorting': 'profession'};
</script>

<div class="container mt-5">
    <h2 class="mb-4">Сотрудники</h2>

    <a href="{% url 'worker_create' %}" class="btn btn-primary mb-4">Добавить сотрудника</a>
    <a onclick="toggle_filters_display()" class="btn btn-secondary mb-4">Фильтры</a>

    <div id="filters" style="display: none">
        <h5 class="mb-3">Бизнес:</h5>
        <a onclick="refresh_data({'business_id': -1})" class="rb btn btn-info mb-4">Все бизнесы</a>
        {% for business in businesses %}
            <a onclick="refresh_data({'business_id': {{business.id}}})" class="btn btn-info mb-4 rb rb-1">{{business.name}}</a>
        {% endfor %}

        <h5 class="mb-3">Упорядочить по:</h5>
        <a onclick="refresh_data({'sorting': 'date_of_birth'})" class="btn btn-info mb-4">Дата рождения</a>
        <a onclick="refresh_data({'sorting': 'profession'})" class="btn btn-info mb-4">Профессия</a>
    </div>

    <div id="data-list"> </div>
</div>
{% endblock %}
