<table class="table table-striped table-bordered text-center">
    <thead class="table-light">
    <tr>
        <th>ФИО</th>
        <th>Профессия</th>
        <th class="th-res-mid">Номер Телефона</th>
        <th>Telegram</th>
        <th class="th-res-mid">День рождения</th>
        <th class="th-res-mid">Премия</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for worker in workers %}
        <tr>
            <td>{{ worker.name }}</td>
            <td>{{ worker.profession }}</td>
            <td class="th-res-mid">{{ worker.phone_number }}</td>
            <td>
                {% if worker.telegram_link %}
                <a href="{{ worker.telegram_link }}" target="_blank">{{ worker.telegram_link }}</a>
                {% else %}
                —
                {% endif %}
            </td>
            <td class="th-res-mid">{{ worker.date_of_birth }}</td>
            <td class="th-res-mid">{{ worker.bonus_salary }}</td>
            <td class="table-cell-no-padding">
                <a onclick='show_list_action_modal_form( "{% url "worker_update" worker.id %}" )'
                   class="btn btn-secondary btn-table">...</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>