{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">Список сотрудников</h2>

    <a href="{% url 'worker_create' %}" class="btn btn-primary mb-4">Добавить сотрудника</a>

    <table class="table table-striped table-bordered text-center">
        <thead class="table-light">
        <tr>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Профессия</th>
            <th>Премиальные (Рубли)</th>
            <th>Номер Телефона</th>
            <th>Telegram</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        {% for worker in workers %}
        <tr>
            <td>{{ worker.first_name }}</td>
            <td>{{ worker.last_name }}</td>
            <td>{{ worker.profession }}</td>
            <td>{{ worker.bonus_salary }}</td>
            <td>{{ worker.phone_number }}</td>
            <td>
                {% if worker.telegram_link %}
                <a href="{{ worker.telegram_link }}" target="_blank">{{ worker.telegram_link }}</a>
                {% else %}
                —
                {% endif %}
            </td>

            <td>
                <div class="d-flex justify-content-center align-items-center">
                    <a href="{% url 'worker_update' worker.id %}" class="btn btn-outline-primary btn-sm me-2">Редактировать</a>
                    <a  href= "{% url 'worker_delete' worker.id  %}" type="submit" class="btn btn-outline-danger btn-sm">Удалить</a>
                </div>
            </td>

        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
