@media(min-width:320px) {
    .th-res-mid{
        display: none;
    }
}

@media(min-width:800px) {
    .th-res-mid{
        display: table-cell;
    }
}

#modal-form{
    background: #ffffffff;
    border-radius: 1rem;
}
#modal-form-inner-update{
    background: #ffffffff;
}
#modal-form-inner-delete{
    background: #ffffffff;
}

.btn-table{
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 2.5rem;
    min-width: 2.5rem;

    background: #cbc9c9;
    border-radius: 0;
    border-width: 0;
}
.table-cell-no-padding{
    padding: 0 !important;
}

dialog{
    border-width: 0;
}


.buttons-line{
    display: flex;
}
