{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">

        <div class="col-md-8">
            <h2>{% block header %}{% endblock %}</h2>
            <form method="post" class="p-3 shadow rounded small">
                {% csrf_token %}
                {% bootstrap_form form %}
                <button class="btn btn-primary w-100 mt-3" type="submit">
                    {% block submit_label %} {% endblock %}
                </button>
            </form>
        </div>

    </div>
</div>
{% endblock %}