<dialog id="modal-form">
    {% load django_bootstrap5 %}
    <div class="row justify-content-center">
        <div class="col-md-12">
            <h2>{% block header %}{% endblock %}</h2>
            <form method="post" class="p-3 shadow rounded small" id="modal-form-inner">
                {% csrf_token %}
                {% bootstrap_form form %}
                <button class="btn btn-primary w-100 mt-3" type="submit">
                    {% block submit_label %} {% endblock %}
                </button>
            </form>
            {% block second_form %} {% endblock %}
        </div>
    </div>
</dialog>
