<dialog id="modal-form">
    {% load django_bootstrap5 %}
    <div class="row justify-content-center">
        <div class="col-md-12">
            <h2>{% block header %}{% endblock %}</h2>

            <form method="post" action="{% block url_update %}{% endblock %}" class="p-3 shadow rounded small" id="modal-form-inner-update">
                {% csrf_token %}
                {% bootstrap_form form %}
                <div class="buttons-line col-md-12 text-center">
                    <button class="btn btn-primary w-100" type="submit">{% block submit_label %} {% endblock %}</button>
                    <div class="col-md-1"></div>
                    <a onclick="close_modal_form()" class="btn btn-secondary w-100">Отменить</a>
                </div>
            </form>

            <form method="post" action="{% block url_delete %}{% endblock %}" class="p-3 shadow rounded small" id="modal-form-inner-delete">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger w-100">Удалить</button>
            </form>

        </div>
    </div>
</dialog>
