{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
<div class="container mt-1">
    <div class="row justify-content-center">
        <div class="col-md-8">
            {%block header%} <h2>Добавить сотрудника</h2> {%endblock%}
            <form method="post" class="p-3 shadow rounded small">
                {% csrf_token %}
                {% bootstrap_form form %}

                <button class="btn btn-primary w-100 mt-3" type="submit">Добавить</button>
            </form>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/inputmask@5.0.8/dist/inputmask.min.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        // Инициализируем Inputmask для поля телефона
        var phoneInput = document.querySelector('input[name="phone_number"]');
        Inputmask("+7(999)999-99-99").mask(phoneInput);
    });
</script>
{% endblock %}